@CHARSET "ISO-8859-1";

body {
    background-color: lightblue;
    text-align: center;
}

input {
    width: 20%;
}

p {
    font-family: verdana;
    font-size: 20px;
}


.button {
  font: bold 15px Arial;
  text-decoration: none;
  color: #333333;
  position:absolute;
  top: 7px;
  right: 5px;
}  

button, input, select, textarea {
  font-family : verdana;
  text-align: center;
  
  font-size   : 120%;
  border-radius: 50px;
  border-width: 0.5px;
  line-height: 2em;
}