<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyEvents</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
	<welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>AddRatingToEvent</servlet-name>
    <servlet-class>servlets.AddRatingToEvent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadInfoMainPage</servlet-name>
    <servlet-class>servlets.LoadInfoMainPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteVeranstaltungFromPrivCal</servlet-name>
    <servlet-class>servlets.DeleteVeranstaltungFromPrivCal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVeranstaltungToPrivateCal</servlet-name>
    <servlet-class>servlets.AddVeranstaltungToPrivateCal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDetailsForPublicEvent</servlet-name>
    <servlet-class>servlets.GetDetailsForPublicEvent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadInfoMessage</servlet-name>
    <servlet-class>servlets.LoadInfoMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEventFromPrivate</servlet-name>
    <servlet-class>servlets.DeleteEventFromPrivate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTerminDataServlet</servlet-name>
    <servlet-class>servlets.GetTerminDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTermin</servlet-name>
    <servlet-class>servlets.UpdateTermin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalendarJsonServlet</servlet-name>
    <servlet-class>servlets.CalendarJsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadDataServlet</servlet-name>
    <servlet-class>servlets.LoadDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadVeranstalterData</servlet-name>
    <servlet-class>servlets.LoadVeranstalterData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewTerminServlet</servlet-name>
    <servlet-class>servlets.CreateNewTerminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageUserDataServlet</servlet-name>
    <servlet-class>servlets.ManageUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/MyEvents/LoginServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/MyEvents/LogoutServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/MyEvents/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewTerminServlet</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/CreateNewTerminServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUserDataServlet</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/ManageUserDataServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadDataServlet</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/LoadDataServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadVeranstalterData</servlet-name>
    <url-pattern>/MyEvents/veranstalter/LoadVeranstalterData/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalendarJsonServlet</servlet-name>
    <url-pattern>/MyEvents/CalendarJsonServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTermin</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/UpdateTermin/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTerminDataServlet</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/GetTerminDataServlet/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEventFromPrivate</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/DeleteEventFromPrivate/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadInfoMessage</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/LoadInfoMessage/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDetailsForPublicEvent</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/GetDetailsForPublicEvent/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVeranstaltungToPrivateCal</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/AddVeranstaltungToPrivateCal/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteVeranstaltungFromPrivCal</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/DeleteVeranstaltungFromPrivCal/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadInfoMainPage</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/LoadInfoMainPage/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRatingToEvent</servlet-name>
    <url-pattern>/MyEvents/privatnutzer/AddRatingToEvent/</url-pattern>
  </servlet-mapping>
</web-app>